{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

<div class="container" style="background-image: url(img/home.png); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="title-container-new">
        <h1>Notre nouvelle pizza !</h1>

        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni blanditiis cumque, sapiente laborum id assumenda debitis.</h3>
    </div>
    

</div>

<div class="container2" style="background-image: url(img/tissu.jpg)">

    <div class="menu-container">
        <h1>Nos pizzas :</h1>
        <ul class="pizza-menu">
            <li>
                <span class="pizza-name">La Margarita</span> 
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / Parmigiano Reggiano DOP / basilic</span>
                    <span class="pizza-price">9€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Padrino</span>
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / Parmigiano Reggiano DOP / jambon de parme 18 mois DOP / roquette / olive kalamata</span>
                    <span class="pizza-price">15€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Lulu</span>
                <div class="pizza-details">
                    <span class="pizza-description">Mozzarella Fiordilatte / Parmigiano Reggiano DOP / taleggio DOP / gorgonzola DOP / stracciatella</span>
                    <span class="pizza-price">13€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Mama</span>
                <div class="pizza-details">
                    <span class="pizza-description">Mozzarella Fiordilatte / Parmigiano Reggiano DOP / stracciatella / pistache / mortadella Bologna DOP / basilic</span>
                    <span class="pizza-price">13€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Lele</span>
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / Parmigiano Reggiano DOP / jambon aux herbes / champignon / basilic</span>
                    <span class="pizza-price">13€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Lyly</span>
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / ricotta / Parmigiano Reggiano DOP / aubergine confite / courgette confite / tomate / basilic</span>
                    <span class="pizza-price">11€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Padre</span>
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / Parmigiano Reggiano DOP / spianata / oignon rouge / tomate cerise / olive de kalamata / basilic</span>
                    <span class="pizza-price">12€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Madrina</span>
                <div class="pizza-details">
                    <span class="pizza-description">Tomate San Marzano DOP / mozzarella Fiordilatte / Parmigiano Reggiano DOP / poivron confit / merguez / olive kalamata / basilic</span>
                    <span class="pizza-price">12€</span>
                </div>
            </li>
            <li>
                <span class="pizza-name">La Pescare</span>
                <div class="pizza-details">
                    <span class="pizza-description">Mozzarella Fiordilatte / ricotta / Parmigiano Reggiano DOP / stracciatella / saumon fumé par nos soins / câpre / oignon rouge / basilic</span>
                    <span class="pizza-price">15€</span>
                </div>
            </li>
        </ul>
        <div class="pizza-text">
            <p><strong><span class="highlight-green">La fraîcheur</span>, <span class="highlight-white">la qualité</span>, <span class="highlight-red">l'amour</span></strong></p>
            <p>Notre recette pour des pizzas <span class="highlight">diaboliques</span></p>
            <p>Chaque ingrédient est soigneusement sélectionné pour vous offrir une expérience gustative authentique et délicieusement <span class="highlight">italienne</span> 🇮🇹</p>
        </div>
    </div>
    

</div>



{% endblock %}

