/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul, li, a {
list-style: none;
text-decoration: none;
color: inherit;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
  }


/* **************** COLOR *********************** */

:root {
    --primary-color: #1a8fe3;
    --secondary-color: #1b1b1b;
    --tertiary-color: #f5f5f5;
    --text-color: #333;
    --title-color: #4a4a4a;
    --navbar-color: rgba(255, 255, 255, 0.3);
    --doree-color: #AB873D;
    --red-color: #e83b3b;
    --green-color: #009246;
    --darkPink-color: rgb(231, 127, 107);
    --midPink-color: #f6cec8;
    --lightPink-color: rgb(255, 242, 239); 
    }

/* h1 {
    color: var(--red-color);
} */

/* *********** NAV ******************  */

nav {
    /* background-color: bisque; */
    background-color: transparent;
    padding-bottom: 15px;
    z-index: 100;
    padding-top: 20px;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
}

.nav-left {
  margin-left: 10px;
  display: flex;
  float: left;
}

.nav-left a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  background: linear-gradient(to right, #009246, #F1F2F1, #CE2B37); 
  -webkit-background-clip: text;
  color: transparent;
}

/* .italian-flag.green {
  color: #009246; 
}

.italian-flag.white {
  color: #F1F2F1; 
}

.italian-flag.red {
  color: #CE2B37; 
} */

.nav-right {
  margin-right: 10px;
  position: relative;
}

.nav-right a {
  position: absolute;
  right: 10px;
  
}

.nav-right a.active {
  visibility: visible;
}

.nav-center {
  display: flex;
  justify-content: center;
  margin-right: 130px;
}

.nav-center a {
  margin: 5px 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

#register {
  margin-right: 80px;
}

/* ************* FOOTER ******************  */

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto; 
  background-color: aquamarine;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-center, .footer-right {
   width: 33%;
}

.footer-left p  {
  display: flex;
  justify-content: center;
  float: left;
}

.footer-center a {
  display: flex;
  justify-content: center;
}

.footer-right a {
  justify-content: center;
  float: right;
}

.footer-right a {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/* *********** HOME ************* */

.container {
  width: 100%;
  height: 100vh;
  background-image: no-repeat center;
  margin-top: -75px;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
  z-index: 1;
}

.container2 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-container {
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.menu-container h1 {
  font-size: 2rem;
  font-family: "Fredericka the Great", serif;
}

.pizza-menu {
  list-style-type: none;
  padding: 0;
}

.pizza-menu li {
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: left;
}

.pizza-name {
  font-weight: bold;
  font-family: "Fredericka the Great", serif;
  font-size: 1.2rem;
  display: block;
}

.pizza-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza-description {
  flex-grow: 1;
  margin-top: 5px;
}

.pizza-price {
  font-weight: bold;
  font-family: "Fredericka the Great", serif;
  font-size: 1.2rem;
}

.pizza-text {
  margin-top: 50px;
  font-size: 1.2rem;
}

.highlight-red {
  color: var(--red-color);
}

.highlight-white {
  color: var(--tertiary-color);
}

.highlight-green {
  color: var(--green-color);
}

.title-container-new {
  position: absolute;
  z-index: 1000;
  color: white;
  top: 35%;
  left: 25%;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container-new h1{
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--tertiary-color);
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.title-container-new h3{
  font-size: 1.5rem;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 45px;
}

